@charset "utf-8";
/* CSS Document */



/* -------------------------------------------------- **

   Content

** -------------------------------------------------- */

/* #articleTitle */
#articleTitle {
position: relative;
margin-top: 40px;
height: 320px;
}
#articleTitle .background {
content: 'attr(backgroundimage)';
display: block;
width: 100%; height: 100%;
position: absolute;
top: 0; left: 0;
z-index: -1;
background: center center no-repeat #000;
background-size: cover;
animation: titleBackground 0.5s;
}
@keyframes titleBackground {
  0% { opacity: 0; }
100% { opacity: 1; }
}
#website.home #articleTitle .background { background-image: url("../img/header_home.jpg"); }
#website.en.home #articleTitle .background { background-image: url("../img/en_header_home.jpg"); }
#article.overview #articleTitle .background { background-image: url("../img/header_overvier.jpg"); }
#article.learn #articleTitle .background { background-image: url("../img/header_learn.jpg"); }
#article.documents #articleTitle .background { background-image: url("../img/header_documents.jpg"); }
#article.downloads #articleTitle .background { background-image: url("../img/header_downloads.jpg"); }

#articleTitle section {
display: table;
width: 100%; height: 100%;
max-width: 1200px;
margin: 0 auto;
}
#articleTitle section .sectionInner {
display: table-cell;
padding: 0 24px;
vertical-align: middle;
}
#articleTitle h1 {
font-size: 48px;
font-weight: 900;
color: #FFF;
font-family: 'Roboto', sans-serif;
text-shadow: 0 0 8px rgba( 0, 0, 0, 0.6 );
}
#articleTitle h1 small {
font-size: 60%;
}
#articleTitle p {
margin-top: 0.8em;
line-height: 1.5;
font-size: 16px;
color: #FFF;
text-shadow: 0 0 3px rgba( 0, 0, 0, 0.8 );
}
#articleTitle ul {
margin-top: 32px;
letter-spacing: -0.4em;
}
#articleTitle li {
display: inline-block;
margin-right: 16px;
min-width: 200px;
letter-spacing: normal;
}
#articleTitle li:last-child {
margin-right: 0;
}
#articleTitle li a {
display: block;
padding: 8px;
background-color: rgba( 0,0,0,0.2 );
border: 1px solid #FFF;
text-align: center;
text-decoration: none;
font-size: 16px;
color: #FFF;
transition-duration: 0.3s;
}
#articleTitle li:first-child a {
background-color: #002B62;
border-color: #002B62;
}
#articleTitle li a.hover {
background-color: rgba( 0,0,0,0.4 );
}
#articleTitle li:first-child a.hover {
background-color: #194072;
}

/* #articleBody */
#articleBody nav {
background-color: #FFF;
}
#articleBody nav ul {
width: 100%;
max-width: 980px;
margin: 0 auto; padding: 0;
text-align: left;
letter-spacing: -0.4em;
white-space: normal;
}
#articleBody nav ul li {
display: inline-block;
margin: 0;
letter-spacing: normal;
text-align: center;
}
#articleBody nav ul li:first-child {
border-left: 1px solid #EFEFEF;
}
#articleBody nav a {
display: block;
padding: 16px 32px;
border-right: 1px solid #EFEFEF;
vertical-align: bottom;
text-decoration: none;
font-size: 12px;
color: #AAA;
}
#articleBody nav a.hover {
background-color: #EFEFEF;
}
#articleBody nav a i {
transition-duration: 0.3s;
}
#articleBody nav a.hover i {
transform: translateY( 2px );
}

#articleBody {
background: url("../../../docs/asset/img/content_back.png");
font-size: 16px;
line-height: 1.75;
}
#articleBody::after {
content: '';
display: block;
clear: both;
}
#articleBody section {
padding: 48px 16px;
}
#articleBody section:nth-of-type( even ) {
background-color: rgba( 0, 43, 98, 0.05 );
}
#articleBody .sectionInner {
max-width: 980px;
margin: 0 auto;
}
#articleBody .sectionInner::after {
content: '';
display: block;
clear: both;
}
#articleBody h2 {
clear: both;
margin: 80px 0 24px; padding: 0 8px 8px;
border-bottom: 1px solid #8095B0;
line-height: 1.3;
font-size: 30px;
font-weight: bold;
color: #002B62;
}
#articleBody h2:first-child {
margin-top: 0;
}
#articleBody h3 {
clear: both;
margin: 48px 0 24px; padding: 8px 16px 5px;
line-height: 1.3;
font-size: 24px;
font-weight: bold;
background-color: #8095B0;
background-image: linear-gradient( 90deg, #002B62, #8095B0 );
border-left: 8px solid #FF833B;
color: #FFF;
}
#articleBody h3 strong {
color: #FD0;
}
.en #articleBody h3 {
letter-spacing: 0.03em;
}
#articleBody h4 {
margin: 48px 0 24px; padding: 0 8px 8px;
border-bottom: 1px dotted #CCC;
line-height: 1.3;
font-size: 16px;
font-weight: bold;
color: #333;
}
#articleBody h5 {
margin: 24px 0 0; 
line-height: 1.75;
font-weight: bold;
color: #666;
}
#articleBody h6 {
margin: 24px 0 0;
line-height: 1.75;
font-weight: normal;
color: #333;
}
#articleBody h2 em,
#articleBody h3 em,
#articleBody h4 em {
font-size: 110%;
display: inline-block;
font-family: 'Roboto', sans-serif;
font-weight: 900;
font-style: normal;
}
#articleBody p {
margin: 24px 0 24px 24px;
}
#articleBody pre {
overflow: auto;
margin: 24px 0; padding: 16px 16px 16px 48px;
background-color: #111;
border-radius: 4px;
color: #EEE;
}
#articleBody h5 + p,
#articleBody h6 + p {
margin-top: 0;
}
#articleBody ul,
#articleBody ol {
margin: 24px 0;
padding-left: 1.5em;
line-height: 1.5;
}
#articleBody .sectionInner ul {
padding-left: 48px;
margin-top: -24px;
}
#articleBody .sectionInner ul li {
margin-bottom: 0;
}
#articleBody ul li,
#articleBody ol li {
margin-bottom: 0.25em;
}
#articleBody .sectionInner p:last-child,
#articleBody .sectionInner ul:last-child {
margin-bottom: 0!important;
}
#articleBody p.linkArea {
clear: both;
text-align: right;
}
#articleBody a.move {
position: relative;
display: inline-block;
overflow: hidden;
min-width: 240px; height: 32px;
padding: 0 32px;
background-color: #FF821E;
text-decoration: none;
line-height: 32px;
text-align: center;
font-size: 14px;
color: #FFF;
}
#articleBody a.move span {
display: block;
width: 100%; height: 100%;
position: absolute;
left: 0; top: 0;
z-index: 2;
line-height: 32px;
}
#articleBody a.move i {
transition-duration: 0.3s;
}
#articleBody a.move:hover i {
transform: translateX( 2px );
}
#articleBody a.move::after {
content: '';
display: block;
position: absolute;
left: -100%; top: 0;
width: 100%; height: 100%;
background-color: #FF640A;
transition-duration: 0.3s;
}
#articleBody a.move:hover::after {
left: -10%;
}
#articleBody a.move:active::after {
left: 0;
}
#articleBody img {
max-width: 100%; height: auto;
}
#articleBody .rightImage {
float: right;
width: 50%;
margin: 0 0 32px 24px;
}
#articleBody .leftImage {
float: left;
width: 50%;
margin: 0 24px 32px 0;
}
#articleBody .rightImage.image25,
#articleBody .leftImage.image25 {
width: 25%;
}
#articleBody .rightImage img,
#articleBody .leftImage img {
width: 100%; height: auto;
vertical-align: bottom;
}
#articleBody .video {
position: relative;
width: 100%;
padding-bottom: 56.25%;
}
#articleBody .video iframe {
position: absolute;
top: 0; left: 0;
width: 100%; height: 100%;
}

#articleBody a.download,
#articleBody span.download {
display: inline-block;
padding: 4px 32px;
background-color: #C00;
border-radius: 80px;
text-align: center;
text-decoration: none;
color: #FFF;
transition-duration: 0.3s;
}
#articleBody span.download {
background-color: #CCC;
}
#articleBody a.download:hover {
background-color: #A00;
}
#articleBody a.download i.note {
padding-left: 0.5em;
font-size: 80%;
font-style: normal;
}

#articleBody .tabContents {
padding: 32px 0 0;
}
#articleBody .tabContents::after {
content: '';
display: block;
clear: both;
}
#articleBody .tabContents ul.tabMenu {
letter-spacing: -0.4em;
margin: 0 0 32px; padding: 0;
text-align: center;
}
#articleBody .tabContents ul.tabMenu li {
letter-spacing: normal;
display: inline-block;
width: 33.33333%;
margin: 0; padding: 0 16px;
}
#articleBody .tabContents ul.tabMenu li a {
display: block;
position: relative;
padding: 16px;
border: 1px solid #CCC;
border-radius: 4px;
text-decoration: none;
text-align: center;
transition-duration: 0.6s;
color: #FF833B;
font-weight: bold;
}
#articleBody .tabContents ul.tabMenu li a.hover {
background-color: #FFF;
}
#articleBody .tabContents ul.tabMenu li a.tabOpen {
transform: translateY( 16px );
background-color: #FF833B;
border-color: #FF833B;
color: #FFF;
cursor: default;
}
#articleBody .tabContents ul.tabMenu li a.tabOpen::after {
display: block;
content: '';
position: absolute;
left: 50%; bottom: -16px;
margin-left: -8px;
border: 8px solid transparent;
border-top: 8px solid #FF833B;
animation: tabOpenContentArrow 0.6s;
}
#articleBody .tabContents ul.tabMenu li a br {
display: none;
}
#articleBody .tabContents .tabContent {
display: none;
}
#articleBody .tabContents .tabContent.tabOpen {
display: block;
animation: tabOpenContent 0.6s;
}
@keyframes tabOpenContent {
  0% { transform: translateY( 16px ); opacity: 0; }
100% { transform: translateY(  0   ); opacity: 1; }
}
@keyframes tabOpenContentArrow {
  0% { opacity: 0; }
100% { opacity: 1; }
}
#articleBody .tabContents .tabContent h3:first-child {
margin-top: 0;
}


@media screen and ( max-width: 1024px ){
} /* /1024px */

@media screen and ( max-width: 640px ){

#articleTitle {
height: 160px;
}
#articleTitle h1 {
font-size: 10vw;
}
#articleTitle ul {
margin-top: 16px;
}
#articleTitle li {
min-width: 45%;
}
#articleTitle p,
#articleTitle li a {
font-size: 3.5vw;
}
#articleBody pre {
font-size: 3vw;
}
#articleBody nav ul {
padding: 0;
text-align: left;
overflow: hidden;
}
#articleBody nav ul li {
width: 50%;
margin-bottom: -1px;
border: none;
border-bottom: 1px solid #EFEFEF;
vertical-align: bottom;
}
#articleBody nav ul li:nth-of-type( odd ) {
border-right: 1px solid #EFEFEF;
}
#articleBody nav a {
padding: 8px 16px;
border: none;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
#articleBody h2 {
font-size: 4vw;
}
#articleBody h3 {
margin: 32px 0 16px;
font-size: 3.5vw;
}
#articleBody h4 {
font-size: 3.5vw;
}
#articleBody h5 {
font-size: 3vw;
}
#articleBody h6 {
font-size: 3vw;
}
#articleBody p {
margin: 16px 0 16px 1em;
font-size: 3vw;
}
#articleBody ul,
#articleBody ol {
font-size: 3vw;
}
#articleBody .sectionInner ul {
padding-left: 3em;
margin-top: -16px;
}
#articleBody .sectionInner ul li {
margin-bottom: 0;
}
#articleBody a.move {
font-size: 3.2vw;
}
#articleBody .rightImage,
#articleBody .leftImage {
float: none;
width: 100%;
margin: 24px auto;
}
#articleBody .rightImage.image25,
#articleBody .leftImage.image25 {
width: 50%;
}
#articleBody .exImage {
display: block;
overflow: auto;
}
#articleBody .exImage img {
width: 150%; height: auto;
max-width: none;
}
#articleBody .tabContents {
padding-top: 8px;
}
#articleBody .tabContents ul.tabMenu {
margin-bottom: 24px;
}
#articleBody .tabContents ul.tabMenu li,
#articleBody .tabContents ul.tabMenu li a {
padding: 8px;
}
#articleBody .tabContents ul.tabMenu li a br {
display: inline;
}

} /* /640px */


/* -------------------------------------------------- **

   Home

** -------------------------------------------------- */
#website.home #articleTitle {
max-width: 1920px; max-height: 100vh;
height: 640px;
margin: 0 auto;
}
#website.home #articleBody section {
padding: 96px 16px;
}
#website.home #articleBody h2 {
margin-bottom: 64px; padding: 16px 32px;
background-color: rgba( 255, 255, 255, 0.5 );
border: 1px solid #8095B0;
font-size: 26px;
font-weight: bold;

color: #002B62;
}
#website.home #articleBody p {
margin: 64px 0;
}
#website.home #articleBody #why h2 {
margin-bottom: 48px;
}
#articleBody #why ul {
width: 1108px;
letter-spacing: -0.4em;
margin-left: -64px; padding: 0;
text-align: center;
}
#articleBody #why li {
letter-spacing: normal;
display: inline-block;
width: 33.33333%;
margin: 0 0 36px; padding: 0 16px;
vertical-align: top;
text-align: left;
}
#articleBody #why dt {
border-bottom: 1px solid #CCC;
font-weight: bold;
color: #333;
}
#articleBody #why dl i {
position: absolute;
left: 0; top: 50%;
transform: translateY(-50%);
font-size: 40px;
}
#articleBody #why dt,
#articleBody #why dd.text {
display: flex;
align-items: center;
position: relative;
min-height: 5em;
padding: 1em 0 1em 56px;
font-size: 20px;
line-height: 1.5;
}
#articleBody #why dd.text {
margin-bottom: 16px;
font-size: 16px;
}
#articleBody #why dd.image {
padding: 8px;
border: 1px solid #CCC;
border-radius: 8px;
background-color: #FFF;
box-shadow: 0 0 4px rgba( 0, 0, 0, 0.3 );
}
#articleBody #why dd.image img {
vertical-align: bottom;
}
#articleBody #why dt i {
color: #F00;
}
#articleBody #why dd.text i {
color: #60c60d;
}
/* Features */
#articleBody #features ul {
padding: 0;
letter-spacing: -0.4em;
}
#articleBody #features li {
letter-spacing: normal;
display: inline-block;
width: 50%;
vertical-align: top;
}
#articleBody #features li:nth-of-type( odd ) {
padding-right: 24px;
}
#articleBody #features li:nth-of-type( even ) {
padding-left: 24px;
}
#articleBody #features dt {
margin-bottom: 16px;
font-weight: bold;
color: #002B62;
font-size: 20px;
line-height: 1.5;
}
#articleBody #features dd {
margin-bottom: 32px;
line-height: 1.5
}
#articleBody #features dt i {
animation: gearAnimation 5s linear infinite;
}
@keyframes gearAnimation {
  0% { transform: rotate(   0deg); }
100% { transform: rotate( 360deg); }
}

@media screen and ( max-width: 1260px ){

#website.home #articleTitle {
height: 480px;
}
#articleBody #why ul {
width: 100%;
margin-left: 0;
}

} /* /1260px */

@media screen and ( max-width: 1024px ){

#website.home #articleTitle {
height: 400px;
}
#articleBody #why li {
width: 50%;
}

} /* /1024px */

@media screen and ( max-width: 768px ){

#website.home #articleTitle section .sectionInner {
padding-top: 24px;
}

} /* /768px */

@media screen and ( max-width: 640px ){

#website.home #articleTitle {
height: 480px;
}
#website.home #articleTitle .background,
#website.en.home #articleTitle .background {
background-image: url("../img/header_home_sp.jpg");
}
#website.home #articleBody section {
padding: 48px 16px;
}
#website.home #articleBody h2 {
margin-bottom: 32px; padding:  8px 16px;
font-size: 4vw;
}
#website.home #articleBody #why h2 {
margin-bottom: 16px;
}
#articleBody #why ul {
width: 100%; margin-left: 0;
}
#articleBody #why li {
width: 100%;
margin: 0; padding: 0 0 4em;
}
#articleBody #why li:last-child {
padding-bottom: 2em;
}
#articleBody #why dl i {
font-size: 8vw;
}
#articleBody #why dt,
#articleBody #why dd.text {
min-height: auto;
padding-left: 12vw;
font-size: 4vw;
}
#articleBody #why dd.text {
margin-bottom: 8px;
}
#articleBody #why dt br {
display: none;
}
#articleBody #features li {
width: 100%;
}
#articleBody #features li:nth-of-type( even ),
#articleBody #features li:nth-of-type( odd ) {
padding: 0;
}
#articleBody #features dt {
margin-bottom: 8px;
font-size: 3.5vw;
}
#articleBody #features dd {
font-size: 3vw;
}
#website.home #articleBody p {
margin: 32px 0;
font-size: 3vw;
}
#twitterTimeline,
#facebookTimeline {
width: 100%;
float: none;
padding: 0;
}

} /* /640px */

@media screen and ( max-width: 480px ){


} /* /480px */

/* -------------------------------------------------- **

   Article Page

** -------------------------------------------------- */

/* Documents */
#article.documents h3 {
float: left;
width: 40%;
margin: 0;
font-family: 'Roboto', sans-serif;
}
#article.documents .documentsDownloadsList {
margin: 0 0 32px; padding: 8px 0 0 40%;
border-top: 1px solid #8095B0;
list-style: none;
}
#article.documents .documentsDownloadsList li {
margin: 0 0 8px 8px;
}
#article.documents .documentsDownloadsList li a {
display: block;
padding: 8px 16px;
background-color: #FFF;
border: 1px solid #CCC;
text-decoration: none;
color: #333;
}
#article.documents .documentsDownloadsList li a:hover {
background-color: #E5EAEF;
}
#article.documents .documentsDownloadsList i.fa-file-pdf { color: #CE1923; }
#article.documents .documentsDownloadsList i.fa-file-excel { color: #1F7246; }

#article.documents .documentsDownloadsList li i {
padding-right: 0.5em;
}

/* Slide Image */
.slide {
float: right;
width: 50%;
margin: 0 0 32px 32px; padding: 8px;
border: 1px solid #CCC;
border-radius: 4px;
background-color: #FFF;
box-shadow: 0 0 4px rgba( 0, 0, 0, 0.3 );
}
.slide .slideView {
position: relative;
padding-bottom: 75%;
cursor: pointer;
}
.slide .slideView.loading {
cursor: default;
}
.slide .slideView.done {
padding-bottom: 81.2%;
cursor: default;
}
.slide .slideView iframe,
.slide .slideView img {
position: absolute;
top: 0; left: 0;
width: 100%; height: 100%;
margin: 0; padding: 0;
}
.slide .slideView img {
vertical-align: middle;
border: 1px solid #002B62;
transition-duration: 0.3s;
}
.slide .slideView:hover img {
opacity: 0.8;
}
.slide .slideView.loading::after {
content: '';
display: block;
position: absolute;
top: 50%; left: 10%;
z-index: 10;
width: 80%; height: 28px;
margin-top: -14px;
background-image: linear-gradient( 90deg, #002B62, #002B62 8px, #194072  8px, #194072  16px );
background-size: 16px 16px;
border: 1px solid #002B62;
border-radius: 4px;
animation: slideLoading 0.3s linear infinite;
}
.slide .slideView.loading::before {
content: 'Now Loading...';
display: block;
position: absolute;
top: 50%; left: 0;
z-index: 11;
width: 100%; height: 16px;
margin: -6px;
line-height: 1;
text-shadow: 1px 1px 1px #000;
font-size: 12px;
font-weight: bold;
color: #FFF;
text-align: center;
animation: slideLoadingText 1s linear infinite;
}
@keyframes slideLoading {
0% { background-position: 0 0; }
100% { background-position: 16px 0; }
}
@keyframes slideLoadingText {
0% { opacity: 1; }
50% { opacity: 0.6; }
100% { opacity: 1; }
}
.slide .slideView.loading img {
opacity: 0.2;
}
.slide .slideView iframe,
.slide .slideView.done img {
display: none;
}




@media screen and ( max-width: 1024px ) {
} /* /1024px */


@media screen and ( max-width: 640px ) {

#article.documents h3 {
float: none;
width: 100%;
margin-bottom: 8px;
}
#article.documents .documentsDownloadsList {
padding: 0;
border: none;
}
#article.documents .documentsDownloadsList li {
margin: 0 0 8px;
}
.slide {
float: none;
width: 100%;
margin: 0 0 16px;
}

} /* /640px */