@charset "utf-8";
/* CSS Document */

#website.index #articleTitle .background::before {
background-image: url("../img/header_ita_home_bar.png");
}
#website.index #articleTitle .backgroundMonitor .monitor ul::after {
background-image: url("../img/header_ita_home_monitor.png");
}
#website.index #articleTitle .backgroundMonitor .monitor li:nth-child(1) { background-image: url("../img/home_image01.jpg"); animation-name: slideImage1; z-index: 5; }
#website.index #articleTitle .backgroundMonitor .monitor li:nth-child(2) { background-image: url("../img/home_image02.jpg"); animation-name: slideImage2; z-index: 4; }
#website.index #articleTitle .backgroundMonitor .monitor li:nth-child(3) { background-image: url("../img/header_home_image.jpg"); z-index: 3; }
#website.en.index #articleTitle .backgroundMonitor .monitor li:nth-child(1) { background-image: url("../img/en_home_image01.jpg"); }
#website.en.index #articleTitle .backgroundMonitor .monitor li:nth-child(2) { background-image: url("../img/en_home_image02.jpg"); }
#website.en.index #articleTitle .backgroundMonitor .monitor li:nth-child(3) { background-image: url("../img/en_header_home_image.jpg"); }
@keyframes slideImage1 { 25% { opacity: 1; } 33.33333% { opacity: 0; } 91.66666% { opacity: 0; } 100% { opacity: 1; } }
@keyframes slideImage2 { 58.33333% { opacity: 1; } 66.66666% { opacity: 0; } 100% { opacity: 0; } }

#website.index #articleTitle .background { background-image: url("../img/header_home.jpg"); }
#article.overview #articleTitle .background { background-image: url("../img/header_overvier.jpg"); }
#article.learn #articleTitle .background { background-image: url("../img/header_learn.jpg"); }
#article.case #articleTitle .background { background-image: url("../img/header_case.jpg"); }
#article.documents #articleTitle .background { background-image: url("../img/header_documents.jpg"); }
#article.downloads #articleTitle .background { background-image: url("../img/header_downloads.jpg"); }
#article.faq #articleTitle .background { background-image: url("../img/header_faq.jpg"); }
#article.webinar #articleTitle .background { background-image: url("../img/header_webinar.jpg"); }

@media screen and ( max-width: 640px ){

  #website.index #articleTitle .background,
  #website.en.index #articleTitle .background {
    background-image: url("../img/header_home_sp.jpg");
  }
  
}